.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: lightpink;
}

.CounterExample {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  max-width: 200px;
}

.CounterExample span {
  font-size: 48px;
}

.CounterExample button {
  max-width: 228px;
  height: 54px;
}
