.App {
  text-align: center;
}

.container {
  max-width: 90%;
  margin: 1rem auto;
  background-color: azure;
  padding: 1rem;
}

h1 {
  color: mediumpurple;
  margin: 2rem; /* Set the font size of h1 to 32px (2 * 16px) */
}

p {
  border: 0.5rem dotted gray;
  margin: 0.5rem;
  font-size: 1rem; /* Set the font size of p to 16px */
  line-height: 1.5rem; /* Set the line-height of p to 24px (1.5 * 16px) */
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  background-color: mediumpurple;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem lightpink;
  color: white;
}

li:hover {
  box-shadow: none;
  cursor: pointer;
}
